* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    margin: 0px;
    padding: 0px;
}

.body1 {
    background: #1f2937;
    margin: 0px;
    display: flex;
}

.sidecolumn {
    width: 15%;
}

.maincolumn {
    width: 70%;
}

.header {
    display: flex;
    padding-top: 1.5vh;
}

#headerlogo {
    margin: 0px;
    font-size: 24px;
    color: #E5E7EB;
    margin-right: auto;
}

.navbarlink, .body1text {
    font-size: 18px;
    color: #F9FAF8;
}

.navbarlink {
    margin: 0px 10px;
    text-decoration: none;
}

.body1content {
    display: flex;
    background: #1f2937;
    margin: 5rem auto;
}

.body1title {
    font-size: 48px;
    font-style: extra-bold;
    color: #F9FAF8;
    margin: 0px auto;

}

.body1left {
    width: 35vw;
    margin-right: auto;
}

.body1img {
    width: 30vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px;
}

.button1 {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 25px;
}

.body2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.body2title {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.body2content {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;

}

.body2box {
    text-align: center;
    width: 150px;
}

.body2box .p {
    word-wrap: break-word;
}

.body2image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.body3 {

    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body3 p {
    font-size: 33px;
    color: #1F2937;
    font-style: italic;
    width: 70vw;
    padding: 4rem;
}

.body3quote {

    margin-top: 3rem;
    float: right;
    font-weight: bold;
    font-size: 20px;
}

.body4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body4bluebox {
    display: flex;
    height: 20vh;
    width: 70vw;
    background: #3882F6;
    border-radius: 5px;
    margin: 4rem;
    justify-content: space-between;

}

.body4left {
    color: white;
    margin-right: auto;
    align-self: center;
    margin: 3rem;
}

.body4bluebox button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 25px;
    margin: 3rem;
    border: 1px solid white;
    align-self: center;
    flex: 0 0 auto;
}
